VITE_API_BASE_URL=http://localhost:5000/api
VITE_COGNITO_USER_POOL_ID=your-cognito-user-pool-id
VITE_COGNITO_USER_POOL_CLIENT_ID=your-cognito-user-pool-client-id
VITE_COGNITO_DOMAIN=ap-south-1bzawqa8li.auth.ap-south-1.amazoncognito.com
VITE_OAUTH_REDIRECT_SIGN_IN=http://localhost:5173
VITE_OAUTH_REDIRECT_SIGN_OUT=http://localhost:5173
