version = 0.1

[default.deploy.parameters]
stack_name = "interviewace-api-prod"
resolve_s3 = true
s3_prefix = "interviewace-api-prod"
region = "ap-south-1"
capabilities = "CAPABILITY_IAM"
confirm_changeset = true
fail_on_empty_changeset = false
